<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/EffortJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <link name="world" />

  <link name="pedestal">
    <inertial>
      <origin xyz="0.0 0.0 0.095" rpy="0.0 0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="">
      <origin xyz="0.0 0.0 0.095" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.07" length="0.19"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.095" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.07" length="0.19"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </collision>
  </link>

  <gazebo reference="pedestal">
    <selfCollide>true</selfCollide>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.20" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="world_pedestal" type="fixed">
    <parent link="world" />
    <child link = "pedestal" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
